

#background-video{

    position: fixed;
    width: 100%;
    z-index: -20;
    object-fit: cover;
    height: 100vh;
    /* background: url(Component/imgbreak/burgerchip.jpg) no-repeat;
    background-size: cover; */

    
    
    }


 .back-form{
    background: rgba(255, 255, 255, 0.8);
   
    
 }   